@import "tailwindcss";

body, html {
    font-family: sans-serif;
}

button {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 5px 10px; /* Padding around the text */
    border: none; /* Remove default border */
    border-radius: 8px; /* Rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    font-size: 12px; /* Larger font size */
    font-weight: bold; /* Bold text */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline from text */
    display: inline-block; /* Allow padding and margin to be applied */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Slightly larger shadow on hover */
}

button:active {
    background-color: #3e8e41; /* Even darker green when clicked */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Smaller shadow when active */
    transform: translateY(2px); /* Slight downward movement when active */
}


path {
    stroke: #333;
    stroke-width: 1px;
    cursor: pointer;
}

text {
    font-size: 10px;
    fill: #111;
    pointer-events: none;
}

.tooltip {
    position: absolute;
    background: lightgray;
    padding: 5px;
    font-size: 12px;
    pointer-events: none;
    opacity: 0;
}